<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="adding-form-html">Adding Form HTML</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="binding-data-with-ngform">Binding Data With ngForm</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="binding-data-to-model">Binding Data To Model</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="tracking-state-validity">Tracking State and Validity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="validation-visual-feedback">Validation With Visual Feedback</a>
    </li>       
    <li class="nav-item">
      <a class="nav-link active" href="displaying-error-messages">Displaying Error Messages</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link active" href="select-control-validation">Select control validation</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link active" href="form-validation">Form validation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="submitting-form-data">Submitting form data</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link active" href="express-server-receive-form-data">Express Server to Receive Form Data</a>
    </li> 
  </ul>
  
<router-outlet></router-outlet>